.food-card-container img{
    height: 100px;
    width: 100%;
}

.food-card-container{
    
    height:fit-content;
    box-shadow: 0px 0px 10px grey;
    margin-right: 5%;
    margin-bottom: 10%;
}

.food-card-tag{
    background-color: brown;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    width: 50%;
    margin-left: 25%;
    box-shadow: 0px 0px 3px grey;
    font-weight: bold;
}

.food-card-name{
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0px 0px 1px gray;
    color: black;
}

.food-card-price{
    font-size: 18px;
    font-weight: bold;
    color: green;
    text-shadow: 0px 0px 1px gray;
}
